/* Contenedor padre */
.container{
  max-width: 950px;      
}
/* contenedor padre de contentjsx */
.header-content{
     max-width: 850px; 
}
/* parrado de contentjsx justificado */
.text-justify {
  text-align: justify;
}
